{% extends "Template/layout.html.twig" %}

{% block content %}
    {% if authors|length %}
        <ul>
            {% for author in authors %}
                <li>
                    {# @todo generate url using some view helper #}
                    <a href="{{ "/authors/show/%s"|format(author.getId()) }}">{{ author.getFirstName() }} {{ author.getLastName() }}</a></li>
            {% endfor %}
        </ul>

    {% else %}
       List is empty
    {% endif %}


{% endblock %}