<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Journals</title>
</head>
<body>
<div>
    {% include "Template/menu.html.twig" %}
</div>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>