{% block content %}
    <ul>
        <li><a href="/articles/list">List of articles</a></li>
        <li><a href="/articles/authors/list">List of authors</a></li>
        <li><a href="/articles/categories/list">List of categories</a></li>
        <li><a href="/users/login">User login</a></li>
    </ul>
{% endblock %}
