{% block content %}
    <ul>
        <li><a href="/journals/list">List of journals</a></li>
        <li><a href="/journals/authors/list">List of authors</a></li>
        <li><a href="/journals/categories/list">List of categories</a></li>
        <li><a href="/users/login">User login</a></li>
    </ul>
{% endblock %}
