{% extends "Template/layout.html.twig" %}

{% block content %}
    <div>List of categories</div>
    {% if categories|length %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{{ generateUrlForRoute('category_show', {'id' : category.getId()}) }}">{{ category.getName() }}</a>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <div>List is empty<div>
    {% endif %}


{% endblock %}