{% extends "Template/layout.html.twig" %}

{% block content %}
    <div>
        <span>Article {{ article.getTitle() }}</span>
    </div>

    <div>
        {% if status is constant('Article\\Purchase\\Status::STATUS_AUTHENTICATION_REQUIRED') %}
            <span>Please log in to purchase</span>
        {% elseif status is constant('Article\\Purchase\\Status::STATUS_ALREADY_PURCHASED') %}
            <span>You have already purchased article</span>
        {% elseif status is constant('Article\\Purchase\\Status::STATUS_NOT_ENOUGH_FUNDS') %}
            <span>You have not enough funds to purchase this article</span>
        {% elseif status is constant('Article\\Purchase\\Status::STATUS_PURCHASE_ERROR') %}
            <span>Purchase failed! No changes have been made, please try again later</span>
        {% elseif status is constant('Article\\Purchase\\Status::STATUS_PURCHASE_SUCCESS') %}
            <span>Successfully purchased! You have gained access to requested article</span>
        {% endif %}
    </div>

{% endblock %}