{% extends "Template/layout.html.twig" %}

{% block content %}
    <div>List of articles</div>
    {% if articles|length %}
        {% include 'partial/Article/ordered-list.html.twig' %}
    {% else %}
        <div>List is empty<div>
    {% endif %}


{% endblock %}