<ul>
    {% for article in articles %}
        <li>
            {# @todo generate url using some view helper #}
            <a href="{{ "/articles/show/%s"|format(article.getId()) }}">{{ article.getTitle() }}</a>
        </li>
    {% endfor %}
</ul>